:root {
  --btn-bg-color:#142D71;
}







@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');


body {
  font-family: 'Nunito', sans-serif;

}


.shexsi-reng {
  background-color: var(--btn-bg-color)  !important;
  border-radius: 2px !important;
}



