:root {
  --btn-bg-color:#142D71;
}

@import url('./assets/css/_reset.css');







@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');


body {
  font-family: 'Nunito', sans-serif;
  overflow-x:hidden;

}


.shexsi-reng {
  background-color: var(--btn-bg-color) !important;
  border-radius: 2px !important;
}



.introsection p {
  width: 457px;
}

.introsection .left-side {
  padding-top: 174px;
  padding-left: 150px;
}

.intro-paraqraf {
  margin-top: 10px;
}

.introsection a, .introsection span {
  margin-top: 40px;
}

.introsection .left-side h1 {
  min-width: 388px;
}

.right-side {
  min-width: 556px;
}

.right-side img {

  width: 70%;
  /* height: 622px; */
  
}


@media(max-width:992px) {
  .introsection .left-side {
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
  }

  .introsection .left-side h1 {
    font-size: 72px;
  }

  .introsection .right-side {
    display: flex;
    flex-basis: 100%;
    padding: 0;
    justify-content: center !important;
  }
}

.typing-effect {
  font-size: 36px;
}


/* CAROUSEL SECTION KODLAMA */


.custom-card {
  min-width: 300px;
}


.swiper-wrapper {

  width: 80% !important;

  margin: 0 auto;
  position: relative;
  /* top: -400px !important;
  z-index: 9; */
}
 
.custom-cards-section {
  padding-top: 100px;
  /* padding-left: 40px;
  padding-right: 40px; */
  padding-bottom: 40px;



  background: linear-gradient(135deg, #192B74 0.42%, #2946A1 100%);
}

.custom-card {
  background-color: #fff;
  position: relative;
  top: -20%;
  z-index: 9;
}

.custom-card p, .custom-card h4 {
  text-align: center;
}

.custom-card h1 {
  text-align: center;
}

.custom-card  {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:2px solid #dedede;
  box-shadow: 6px 1px 20px 0px rgb(0 0 0 / 50%);
  padding: 20px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none !important;
}


/* RESERVATIONS */
.reservation {
  padding-top: 131px;
  padding-left: 150px;
  padding-right: 150px;
}

.reservation span {
  background: #FFEDEC;
border-radius: 16px;
padding: 8px;
}


.reservation .button {
  width: 47px;
  height: 41px;
  background: #EDF3FF;
  border: none;
}

.reservation .button svg {
  color:black;
}

.active {
  background: linear-gradient(135deg, #192B74 0.42%, #2946A1 100%) !important;
}






/* COUNTUP SECTION */

.count-up-section {
  background: linear-gradient(135deg, #192B74 0.42%, #2946A1 100%);
mix-blend-mode: normal;
opacity: 0.7;

padding-top: 194px;
padding-bottom: 194px;
padding-right: 239px;
padding-left: 251px;
color:#fff;

font-size: 64px;
}